In [1]:
!pip install config

Collecting config
  Using cached config-0.5.1-py2.py3-none-any.whl (20 kB)
Installing collected packages: config
Successfully installed config-0.5.1

In [23]:
#import dependencies
from config import db_password
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [28]:
#read in the CSV as a dataframe 
df = pd.read_csv("../Resource/fifa_cleaned.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'fifa_cleaned.csv'

In [21]:
!pip install config

Requirement already satisfied: config in c:\users\olufe.000\anaconda3\envs\mlenv\lib\site-packages (0.5.1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 77 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     17954 non-null  int64
 1   Id                             17954 non-null  int64
 2   Name                           17954 non-null  object
 3   Age                            17954 non-null  int64
 4   Height_Cm                      17954 non-null  float64
 5   Weight_Kgs                     17954 non-null  float64
 6   Positions                      17954 non-null  object
 7   Nationality                    17954 non-null  object
 8   Overall_Rating                 17954 non-null  int64
 9   Potential                      17954 non-null  int64
 10  Value_Euro                     17699 non-null  float64
 11  International_Reputation(1-5)  17954 non-null  int64
 12  Skill_Moves(1-5)               17954 non-null  int64
 13  Work_Rate                      17954 non-null  object
 14  Club_Team                      17940 non-null  object
 15  National_Team                  857 non-null    object
 16  Crossing                       17954 non-null  int64
 17  Finishing                      17954 non-null  int64
 18  Heading_Accuracy               17954 non-null  int64
 19  Short_Passing                  17954 non-null  int64
 20  Volleys                        17954 non-null  int64
 21  Dribbling                      17954 non-null  int64
 22  Curve                          17954 non-null  int64
 23  Freekick_Accuracy              17954 non-null  int64
 24  Long_Passing                   17954 non-null  int64
 25  Ball_Control                   17954 non-null  int64
 26  Acceleration                   17954 non-null  int64
 27  Sprint_Speed                   17954 non-null  int64
 28  Agility                        17954 non-null  int64
 29  Reactions                      17954 non-null  int64
 30  Balance                        17954 non-null  int64
 31  Shot_Power                     17954 non-null  int64
 32  Jumping                        17954 non-null  int64
 33  Stamina                        17954 non-null  int64
 34  Strength                       17954 non-null  int64
 35  Long_Shots                     17954 non-null  int64
 36  Aggression                     17954 non-null  int64
 37  Interceptions                  17954 non-null  int64
 38  Positioning                    17954 non-null  int64
 39  Vision                         17954 non-null  int64
 40  Penalties                      17954 non-null  int64
 41  Composure                      17954 non-null  int64
 42  Marking                        17954 non-null  int64
 43  Standing_Tackle                17954 non-null  int64
 44  Sliding_Tackle                 17954 non-null  int64
 45  Gk_Diving                      17954 non-null  int64
 46  Gk_Handling                    17954 non-null  int64
 47  Gk_Kicking                     17954 non-null  int64
 48  Gk_Positioning                 17954 non-null  int64
 49  Gk_Reflexes                    17954 non-null  int64
 50  Ls                             15889 non-null  object
 51  St                             15889 non-null  object
 52  Rs                             15889 non-null  object
 53  Lw                             15889 non-null  object
 54  Lf                             15889 non-null  object
 55  Cf                             15889 non-null  object
 56  Rf                             15889 non-null  object
 57  Rw                             15889 non-null  object
 58  Lam                            15889 non-null  object
 59  Cam                            15889 non-null  object
 60  Ram                            15889 non-null  object
 61  Lm                             15889 non-null  object
 62  Lcm                            15889 non-null  object
 63  Cm                             15889 non-null  object
 64  Rcm                            15889 non-null  object
 65  Rm                             15889 non-null  object
 66  Lwb                            15889 non-null  object
 67  Ldm                            15889 non-null  object
 68  Cdm                            15889 non-null  object
 69  Rdm                            15889 non-null  object
 70  Rwb                            15889 non-null  object
 71  Lb                             15889 non-null  object
 72  Lcb                            15889 non-null  object
 73  Cb                             15889 non-null  object
 74  Rcb                            15889 non-null  object
 75  Rb                             15889 non-null  object
 76  Original_Position              17954 non-null  object
dtypes: float64(3), int64(41), object(33)
memory usage: 10.5+ MB

In [4]:
df.describe()

,Unnamed: 0,Id,Age,Height_Cm,Weight_Kgs,Overall_Rating,Potential,Value_Euro,International_Reputation(1-5),Skill_Moves(1-5),...,Penalties,Composure,Marking,Standing_Tackle,Sliding_Tackle,Gk_Diving,Gk_Handling,Gk_Kicking,Gk_Positioning,Gk_Reflexes
count,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,1.769900e+04,17954.000000,17954.000000,...,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000
mean,8976.500000,215411.087780,25.565445,174.946921,75.301047,66.240169,71.430935,2.479280e+06,1.111674,2.361034,...,48.357302,58.680183,47.162861,47.733040,45.705915,16.784449,16.556199,16.388660,16.541049,16.874067
std,5183.017702,29758.387106,4.705708,14.029449,7.083684,6.963730,6.131339,5.687014e+06,0.392168,0.763223,...,15.810844,11.625541,20.037346,21.674973,21.285812,17.893895,17.108234,16.701447,17.231495,18.182943
min,0.000000,16.000000,17.000000,152.400000,49.900000,47.000000,48.000000,1.000000e+04,1.000000,1.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4488.250000,201117.250000,22.000000,154.940000,69.900000,62.000000,67.000000,3.250000e+05,1.000000,2.000000,...,38.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,8976.500000,222919.000000,25.000000,175.260000,74.800000,66.000000,71.000000,7.000000e+05,1.000000,2.000000,...,49.000000,60.000000,52.500000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13464.750000,237613.500000,29.000000,185.420000,79.800000,71.000000,75.000000,2.100000e+06,1.000000,3.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,17953.000000,247607.000000,46.000000,205.740000,110.200000,94.000000,95.000000,1.105000e+08,5.000000,5.000000,...,92.000000,96.000000,94.000000,93.000000,90.000000,90.000000,92.000000,92.000000,90.000000,94.000000

# Data Processing

In [5]:
# Display data types for each colums
df.dtypes

Unnamed: 0             int64
Id                     int64
Name                  object
Age                    int64
Height_Cm            float64
                      ...
Lcb                   object
Cb                    object
Rcb                   object
Rb                    object
Original_Position     object
Length: 77, dtype: object

In [6]:
# itemise all colums within Dataframe
df.columns

Index(['Unnamed: 0', 'Id', 'Name', 'Age', 'Height_Cm', 'Weight_Kgs',
       'Positions', 'Nationality', 'Overall_Rating', 'Potential', 'Value_Euro',
       'International_Reputation(1-5)', 'Skill_Moves(1-5)', 'Work_Rate',
       'Club_Team', 'National_Team', 'Crossing', 'Finishing',
       'Heading_Accuracy', 'Short_Passing', 'Volleys', 'Dribbling', 'Curve',
       'Freekick_Accuracy', 'Long_Passing', 'Ball_Control', 'Acceleration',
       'Sprint_Speed', 'Agility', 'Reactions', 'Balance', 'Shot_Power',
       'Jumping', 'Stamina', 'Strength', 'Long_Shots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'Standing_Tackle', 'Sliding_Tackle', 'Gk_Diving',
       'Gk_Handling', 'Gk_Kicking', 'Gk_Positioning', 'Gk_Reflexes', 'Ls',
       'St', 'Rs', 'Lw', 'Lf', 'Cf', 'Rf', 'Rw', 'Lam', 'Cam', 'Ram', 'Lm',
       'Lcm', 'Cm', 'Rcm', 'Rm', 'Lwb', 'Ldm', 'Cdm', 'Rdm', 'Rwb', 'Lb',
       'Lcb', 'Cb', 'Rcb', 'Rb', 'Original_Position'],
      dtype='object')

In [7]:
df.nunique()

Unnamed: 0           17954
Id                   17954
Name                 16995
Age                     29
Height_Cm               20
                     ...
Lcb                    109
Cb                     109
Rcb                    109
Rb                      97
Original_Position      890
Length: 77, dtype: int64

In [8]:
df['Positions'].value_counts()

MF    7178
DF    6107
FW    2604
GK    2065
Name: Positions, dtype: int64

In [11]:
df[df.Positions == 'GK']

,Unnamed: 0,Id,Name,Age,Height_Cm,Weight_Kgs,Positions,Nationality,Overall_Rating,Potential,...,Ldm,Cdm,Rdm,Rwb,Lb,Lcb,Cb,Rcb,Rb,Original_Position
8,8,167495,M. Neuer,32,193.04,92.1,GK,Germany,89,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
11,11,192119,T. Courtois,26,198.12,96.2,GK,Belgium,89,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
12,12,192448,M. ter Stegen,26,187.96,84.8,GK,Germany,89,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
27,27,193041,K. Navas,32,185.42,79.8,GK,Costa Rica,87,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
32,32,206585,Kepa,24,185.42,84.8,GK,Spain,84,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17921,17921,162835,S. Handanovič,34,193.04,92.1,GK,Slovenia,88,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
17923,17923,167948,H. Lloris,32,187.96,82.1,GK,France,88,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
17936,17936,200389,J. Oblak,26,187.96,87.1,GK,Slovenia,90,93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
17942,17942,193080,De Gea,28,193.04,76.2,GK,Spain,91,93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK
17951,17951,235155,J. Bekkema,22,185.42,89.8,GK,Netherlands,59,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK

In [10]:
df['Club_Team'].value_counts()

FC Barcelona           33
AS Monaco              33
Cardiff City           33
Valencia CF            33
Arsenal                33
                       ..
Greece                  2
Sweden                  2
Italy                   1
Republic of Ireland     1
Poland                  1
Name: Club_Team, Length: 687, dtype: int64

In [13]:
df.drop(['Ls','St','Rs','Lw','Lf','Cf','Rf','Rw','Lam','Cam','Ram','Lm','Lcm','Cm','Rcm','Rm','Lwb','Ldm','Cdm','Rdm','Rwb','Lb','Lcb','Cb','Rcb','Rb','National_Team','Club_Team','Name','Nationality','Work_Rate','Original_Position'], axis=1, inplace=True)
df.head()

,Unnamed: 0,Id,Age,Height_Cm,Weight_Kgs,Positions,Overall_Rating,Potential,Value_Euro,International_Reputation(1-5),...,Penalties,Composure,Marking,Standing_Tackle,Sliding_Tackle,Gk_Diving,Gk_Handling,Gk_Kicking,Gk_Positioning,Gk_Reflexes
0,0,158023,31,170.18,72.1,FW,94,94,110500000.0,5,...,75,96,33,28,26,6,11,15,14,8
1,1,190460,27,154.94,76.2,MF,88,89,69500000.0,3,...,67,88,59,57,22,9,14,7,7,6
2,2,195864,25,190.50,83.9,MF,88,91,73000000.0,4,...,82,87,63,67,67,5,6,2,4,3
3,3,198219,27,162.56,59.0,MF,88,88,62000000.0,3,...,61,83,51,24,22,8,4,14,9,10
4,4,201024,27,187.96,88.9,DF,88,91,60000000.0,3,...,33,80,91,88,87,7,11,7,13,5

In [14]:
df.drop(['Positions'], axis=1, inplace=True)

In [15]:
df.to_csv('revised_fifa_data.csv')