In [1]:
# import libraries 
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
#read in the CSV as a dataframe 
df = pd.read_csv(Path('fifa_cleaned.csv'))
df.head()

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,24/06/87,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,14/02/92,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,15/03/93,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,04/06/91,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,20/06/91,27,187.96,88.9,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3

In [6]:
df.isnull().sum()

id               0
name             0
full_name        0
birth_date       0
age              0
              ...
LB            2065
LCB           2065
CB            2065
RCB           2065
RB            2065
Length: 92, dtype: int64

In [5]:
df.size

1651768

In [9]:
df = df.dropna()
df

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,24/06/87,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,14/02/92,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,15/03/93,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,04/06/91,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
5,203376,V. van Dijk,Virgil van Dijk,08/07/91,27,193.04,92.1,CB,Netherlands,88,...,78+3,82+3,82+3,82+3,78+3,80+3,86+3,86+3,86+3,80+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17938,176580,L. Suárez,Luis Alberto Suárez Díaz,24/01/87,32,182.88,86.2,ST,Uruguay,91,...,69+5,68+5,68+5,68+5,69+5,66+5,63+5,63+5,63+5,66+5
17940,183277,E. Hazard,Eden Hazard,07/01/91,28,172.72,76.2,"LW,CF",Belgium,91,...,66+3,63+3,63+3,63+3,66+3,60+3,49+3,49+3,49+3,60+3
17941,192985,K. De Bruyne,Kevin De Bruyne,28/06/91,27,154.94,69.9,"CAM,CM",Belgium,91,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
17943,190871,Neymar Jr,Neymar da Silva Santos Junior,05/02/92,27,175.26,68.0,"LW,CAM",Brazil,92,...,66+3,60+3,60+3,60+3,66+3,61+3,47+3,47+3,47+3,61+3
17944,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,05/02/85,34,187.96,83.0,"ST,LW",Portugal,94,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3

In [10]:
df.size

14352

In [11]:
df['value_euro'] = df['value_euro'].fillna(0) 
df['value_euro']=df['value_euro'].astype(int)
df.dtypes

C:\Users\RyanC\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\RyanC\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

id             int64
name          object
full_name     object
birth_date    object
age            int64
               ...
LB            object
LCB           object
CB            object
RCB           object
RB            object
Length: 92, dtype: object

In [12]:
newdf=df.select_dtypes(include=["int64"])
newdf

,id,age,overall_rating,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),crossing,finishing,heading_accuracy,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,158023,31,94,94,5,4,4,86,95,70,...,75,96,33,28,26,6,11,15,14,8
1,190460,27,88,89,3,5,4,88,81,52,...,67,88,59,57,22,9,14,7,7,6
2,195864,25,88,91,4,4,5,80,75,75,...,82,87,63,67,67,5,6,2,4,3
3,198219,27,88,88,3,4,4,86,77,56,...,61,83,51,24,22,8,4,14,9,10
5,203376,27,88,90,3,3,2,53,52,83,...,62,87,90,89,84,13,10,13,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17938,176580,32,91,91,5,4,3,77,92,82,...,85,85,62,45,38,27,25,31,33,37
17940,183277,28,91,91,4,4,4,81,84,61,...,86,91,34,27,22,11,12,6,8,8
17941,192985,27,91,92,4,5,4,93,82,55,...,79,90,68,58,51,15,13,5,10,13
17943,190871,27,92,92,5,5,5,83,87,62,...,81,94,27,24,33,9,9,15,15,11
17944,20801,34,94,94,5,4,5,84,94,89,...,85,95,28,31,23,7,11,15,14,11

In [2]:
ppp_df =pd.DataFrame(data = x_pca, columns=["PC 1", "PC 2", "PC 3"], index = index_values)
ppp_df.head()

NameError: name 'pd' is not defined

In [13]:
newdf.columns

Index(['id', 'age', 'overall_rating', 'potential',
       'international_reputation(1-5)', 'weak_foot(1-5)', 'skill_moves(1-5)',
       'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'freekick_accuracy', 'long_passing',
       'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standing_tackle', 'sliding_tackle',
       'GK_diving', 'GK_handling', 'GK_kicking', 'GK_positioning',
       'GK_reflexes'],
      dtype='object')

In [17]:
newer_df = newdf.drop(['international_reputation(1-5)', 'weak_foot(1-5)', 'skill_moves(1-5)'], axis='columns')
newer_df

,id,age,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,158023,31,94,94,86,95,70,92,86,97,...,75,96,33,28,26,6,11,15,14,8
1,190460,27,88,89,88,81,52,91,80,84,...,67,88,59,57,22,9,14,7,7,6
2,195864,25,88,91,80,75,75,86,85,87,...,82,87,63,67,67,5,6,2,4,3
3,198219,27,88,88,86,77,56,85,74,90,...,61,83,51,24,22,8,4,14,9,10
5,203376,27,88,90,53,52,83,79,45,70,...,62,87,90,89,84,13,10,13,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17938,176580,32,91,91,77,92,82,82,90,86,...,85,85,62,45,38,27,25,31,33,37
17940,183277,28,91,91,81,84,61,89,80,95,...,86,91,34,27,22,11,12,6,8,8
17941,192985,27,91,92,93,82,55,92,82,86,...,79,90,68,58,51,15,13,5,10,13
17943,190871,27,92,92,83,87,62,84,84,96,...,81,94,27,24,33,9,9,15,15,11
17944,20801,34,94,94,84,94,89,81,87,88,...,85,95,28,31,23,7,11,15,14,11