In [1]:
# import libraries 
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
#read in the CSV as a dataframe 
df = pd.read_csv(Path('Resources/fifa_cleaned.csv'))
df.head()

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3

In [3]:
df.isnull().sum()

id               0
name             0
full_name        0
birth_date       0
age              0
              ...
lb            2065
lcb           2065
cb            2065
rcb           2065
rb            2065
Length: 92, dtype: int64

In [4]:
df.size

1651768

In [5]:
# drop columns with null value 
NoNull=df.dropna()

In [6]:
NoNull.size

14352

In [7]:
NoNull.columns

Index(['id', 'name', 'full_name', 'birth_date', 'age', 'height_cm',
       'weight_kgs', 'positions', 'nationality', 'overall_rating', 'potential',
       'value_euro', 'wage_euro', 'preferred_foot',
       'international_reputation_1_5', 'weak_foot_1_5', 'skill_moves_1_5',
       'work_rate', 'body_type', 'release_clause_euro', 'club_team',
       'club_rating', 'club_position', 'club_jersey_number', 'club_join_date',
       'contract_end_year', 'national_team', 'national_rating',
       'national_team_position', 'national_jersey_number', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'freekick_accuracy', 'long_passing',
       'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes', 'tags', 'traits', 'ls', 'st', 'rs', 'lw', 'lf', 'cf',
       'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb',
       'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object')

In [8]:
NoNull.dtypes
NoNull["value_euro"].dtypes

dtype('float64')

In [9]:
newdf=df.select_dtypes(include=["int64","float64"])
newdf

,id,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation_1_5,weak_foot_1_5,...,penalties,composure,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,158023,31,170.18,72.1,94,94,110500000.0,565000.0,5,4,...,75,96,33,28,26,6,11,15,14,8
1,190460,27,154.94,76.2,88,89,69500000.0,205000.0,3,5,...,67,88,59,57,22,9,14,7,7,6
2,195864,25,190.50,83.9,88,91,73000000.0,255000.0,4,4,...,82,87,63,67,67,5,6,2,4,3
3,198219,27,162.56,59.0,88,88,62000000.0,165000.0,3,4,...,61,83,51,24,22,8,4,14,9,10
4,201024,27,187.96,88.9,88,91,60000000.0,135000.0,3,3,...,33,80,91,88,87,7,11,7,13,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,25,175.26,74.8,67,70,975000.0,3000.0,1,3,...,63,56,40,20,18,15,11,15,12,7
17950,239762,23,182.88,79.8,59,67,190000.0,1000.0,1,3,...,32,52,53,64,60,15,7,7,15,8
17951,235155,22,185.42,89.8,59,67,170000.0,1000.0,1,1,...,16,47,9,12,13,63,57,50,58,63
17952,244883,21,175.26,64.9,59,71,280000.0,4000.0,1,4,...,50,53,16,18,17,15,14,12,6,9
17953,247187,19,190.50,79.8,59,75,325000.0,2000.0,1,4,...,52,45,23,31,21,9,14,12,13,14

In [10]:
# y variable/ target variable 
y= newdf.value_euro

In [11]:
# x variables/ factors 
x=newdf.drop("value_euro", axis=1)

In [12]:
# explore Y
y

0        110500000.0
1         69500000.0
2         73000000.0
3         62000000.0
4         60000000.0
            ...
17949       975000.0
17950       190000.0
17951       170000.0
17952       280000.0
17953       325000.0
Name: value_euro, Length: 17954, dtype: float64

In [13]:
#reshape X
xNew = x.values.reshape(-1, 1)

In [14]:
# create the instance 
model =LinearRegression()

In [15]:
#fit the model 
model.fit(xNew, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
y_pred= model.predict(X)
print(y_pred.shape)